body {
  background-color: #a9ba9d;
}

.landingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bodyDiv {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.bodyH1 {
  color: #fff;
  font-size: 4.5rem;
  font-family: 'Roboto', sans-serif;
}

.bodyText {
  color: #333333;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  line-height: 2rem;
}

.imgDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodImg {
  height: 75vh;
  width: auto;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.bodyBtn {
  border: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #543030;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  margin: 2%;
  width: 15%;
  transition: box-shadow 0.3s ease;
}

.bodyBtn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .landingDiv {
    flex-direction: column;
    height: auto;
    margin: 5%;
  }

  .bodyH1 {
    font-size: 2rem;
    text-align: center;
    margin: 5%;
  }

  .bodyText {
    text-align: justify;
    font-size: 1.1rem;
  }

  .foodImg {
    height: 45vh;
  }

  .imgDiv {
    height: auto;
  }

  .bodyBtn {
    width: auto;
  }

  .buttonDiv {
    justify-content: center;
  }
}

/* Tablets and iPads (max-width: 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
  .landingDiv {
    flex-direction: column;
    padding: 5%;
  }

  .bodyH1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 4%;
  }

  .bodyText {
    font-size: 1.15rem;
    padding: 5%;
    text-align: justify;
  }

  .foodImg {
    height: 55vh;
  }

  .imgDiv {
    height: auto;
  }

  .buttonDiv {
    justify-content: center;
  }

  .bodyBtn {
    width: auto;
  }
}
